/* body */

main,
.main {
  flex: 1 0 auto;
}

/* banner */
.banner {
  background-color: $light;
  padding: 220px 0 120px;
  position: relative;

  @include desktop-lg {
    padding: 150px 0 100px;
  }

  @include desktop {
    padding: 100px 0 0;
  }

  .row {
    @media (min-width: 991px) and (max-width: 1200px) {
      height: 220px;
    }

    @media (min-width: 1201px) {
      height: 180px;
    }
  }

  &-text-container {
    text-align: left;

    .banner-title,
    .banner-subtitle,
    .social-icon {
      padding-left: 1.5rem;
    }

    @include desktop {
      text-align: center;

      .banner-title,
      .banner-subtitle,
      .social-icon {
        padding-left: 0;
      }
    }
  }

  &-cta {
    @media (min-width: 991px) {
      margin-top: 5rem !important;
    }
  }

  .illustration {
    position: absolute;
    bottom: -100px;
    height: 150%;
    right: -90px;

    @media (min-width: 992px) and (max-width: 1200px) {
      bottom: -100px;
      display: block;
      height: 165%;
      right: 40px;
    }

    @media (min-width: 1201px) {
      bottom: -120px;
      display: block;
      height: 200%;
      right: 40px;
    }

    @include desktop {
      display: none;
    }
  }

  .illustration-mobile {
    display: none;

    & img {
      max-height: 300px;
    }

    @include desktop {
      display: block;
    }
  }
}

.card {
  &-deck {
    max-width: 1200px;
    margin: 0 auto;

    .card {
      @include tablet {
        flex: auto;
      }
    }
  }

  &-img-top {
    height: 250px;

    @include desktop {
      height: 200px;
    }
  }
}

/* blog */
.block {
  padding: 60px 60px 40px;
}

.author-thumb {
  width: 300px;
  object-fit: cover;
}

/* pagination */
.pagination {
  justify-content: center;

  .page-item {
    .page-link {
      display: inline-block;
      width: 40px;
      height: 40px;
      text-align: center;
      color: $text-color;
      border: 0;
      border-radius: 5px;

      &:hover {
        background: $primary-color;
        color: $white;
      }
    }

    &.active {
      .page-link {
        background: $primary-color;
        color: $white;
      }
    }
  }
}

.post-title:hover {
  text-decoration: underline;
}

.post-meta {
  color: #999;
  a {
    color: inherit;

    &:hover {
      color: $primary-color;
    }
  }
}

.content {
  * {
    margin-bottom: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
  }

  ol {
    padding-left: 20px;
  }

  ul {
    padding-left: 0;

    li {
      position: relative;
      margin-left: 20px;
      padding-left: 10px;
      margin-bottom: 15px;
      list-style-type: initial;
    }
  }

  .skills li {
    margin-left: 0;
    padding-left: 20px;
    list-style-type: none;
  }

  figure img {
    margin-bottom: 0;
  }

  table {
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;

    border: 1px solid #dee2e6;

    th,
    td {
      padding: 0.75rem;
      vertical-align: top;
      border: 1px solid #dee2e6;
    }

    thead {
      background: darken($color: $light, $amount: 2);
    }

    tbody {
      background: $light;

      td {
        text-align: left !important;
      }
    }
  }

  blockquote {
    padding: 20px;
    background: $light;
    border-left: 3px solid $primary-color;

    p {
      margin-bottom: 0;
      color: $text-color-dark;
      font-style: italic !important;
    }
  }

  pre {
    padding: 10px 20px;
    background: $light;

    code {
      border: 0;
      background: transparent;
      padding: 0;
    }
  }

  a {
    color: $primary-color;

    &:hover {
      text-decoration: underline;
    }
  }

  code {
    padding: 3px 5px;
    background: $light;
    border: 1px solid $border-color;
    border-radius: 3px;
    color: $text-color-dark;
  }
}

/* social icon */
.social-icon {
  a {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    display: block;
    color: $black;

    &:hover {
      background: $primary-color;
      color: $white;
      text-decoration: none;
    }
  }
}

/* nav tab */
.nav-tab {
  .nav-link {
    padding: 15px;
    color: $text-color;
    border-radius: 5px;

    &.active {
      @extend .shadow;
      color: $white;
      background: $primary-color;
    }
  }
}

footer {
  flex-shrink: 0;
}
