{{ define "main" }}

<section class="section pb-0 pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center py-5 px-sm-3 px-md-5 shadow">
        <img src="{{ .Params.Image | relURL }}" alt="{{ .Params.author }}"
          class="img-fluid d-block mx-auto rounded mb-4 author-thumb">
        <h4>{{ .Title | markdownify }}</h4>
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>


<!-- cta -->
{{ if .Site.Params.about.cta.enable }}
<section class="section pt-3 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto pt-3">
        <div class="row shadow bg-white p-5">
          <div class="col-md-4 text-center text-md-left mb-4 mb-lg-0">
            <img src="{{ .Site.Params.about.cta.image | relURL }}" class="mr-4" alt="..."></div>
          <div class="col-md-8 text-center text-md-left">
            <h3 class="mt-0">{{ .Site.Params.about.cta.title | markdownify }}</h3>
            <p>{{ .Site.Params.about.cta.description | markdownify }}</p>
            {{ if .Site.Params.about.cta.button.enable }}
            <a href="{{ .Site.Params.about.cta.button.link | absURL }}"
              class="btn btn-primary">{{ .Site.Params.about.cta.button.label }}</a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /cta -->


{{ if .Site.Params.blog.enable }}
<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto px-0">
        <h2 class="mb-4">Posts by {{ .Params.author }}</h2>
        <div class="bg-white shadow block">
          {{ $name:= .Title }}
          {{ range where .Site.RegularPages "Params.author" $name }}
          {{ .Render "article" }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /blog -->
{{ end }}

{{ end }}