{{ define "main" }}

<section class="main section">
  <div class="container">
    <h1 class="h2 text-black text-center text-sm-left pl-2 pb-5 pt-0">
      {{ .Title | markdownify }}
    </h1>
    <div class="row px-4">
      <div class="card border-0 shadow rounded mx-auto mb-5 p-3">
        <div class="row no-gutters">
          <div class="col-md-4 text-center">
            <img
              src="{{ .Params.Image | relURL }}"
              alt="{{ .Params.author }}"
              class="img-fluid mx-auto mb-2 author-thumb"
            />
          </div>
          <div class="col-md-8 position-relative" style="min-height: 250px;">
            <div class="card-body text-center text-md-left">
              <h4 class="card-title">{{ .Site.Params.Author }}</h4>
              {{ .Content }}
              <div class="position-absolute w-100 text-center center bottom">
                {{- partial "socialMedia.html" . -}}
              </div>
            </div>
          </div>
        </div>
      </div>

      {{- partial "skills.html" . -}}
    </div>
  </div>

  <!-- cta -->
  {{ if .Site.Params.about.cta.enable }}
    <div class="col-lg-8 mx-auto mt-5 pt-5">
      <div class="row shadow bg-white p-5">
        <div class="col-md-4 text-center text-md-left mb-4 mb-lg-0">
          <img
            src="{{ .Site.Params.about.cta.image | relURL }}"
            class="mr-4"
            alt="..."
          />
        </div>
        <div class="col-md-8 text-center text-md-left">
          <h3 class="mt-0">
            {{ .Site.Params.about.cta.title | markdownify }}
          </h3>
          
          <p>{{ .Site.Params.about.cta.description | markdownify }}</p>
          
          {{ if .Site.Params.about.cta.button.enable }}
          <a
            href="{{ .Site.Params.about.cta.button.link | absURL }}"
            class="btn btn-primary"
          >
            {{ .Site.Params.about.cta.button.label }}
          </a>
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}
  <!-- /cta -->
</section>

{{ end }}
