<script type="application/ld+json">
    {
    "@context": "http://www.schema.org",
    "@type": "Person",
    "@id": "https://joshuabooth.nz/#person",
    "name": "Joshua Booth",
    "alternateName": "Josh Booth",
    "nationality": "New Zealander",
    "birthPlace" : {
        "@type": "Place",
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "Auckland, New Zealand",
            "addressRegion": "AUK",
            "addressCountry": "NZ"
        }
    },
    "alumniOf": [
        {
         "@type": "CollegeOrUniversity",
         "name": "Techtorium NZIIT",
         "sameAs": "https://techtorium.ac.nz/"
        }
    ],
    "gender": "Male",
    "Description": "Software Developer",
    "url": "https://joshuabooth.nz",
    "image": "https://www.joshuabooth.nz/images/author/joshua-booth.jpg",
    "address": {
        "@type": "PostalAddress",
        "addressLocality": "Auckland",
        "addressRegion": "AUK",
        "addressCountry": "NZ"
    },
    "sameAs": [
        "https://twitter.com/joshuaboothnz",
        "https://instagram.com/joshuabooth.nz",
        "https://linkedin.com/in/joshua-booth/en",
        "https://github.com/joshua-booth"
        ]
    }
</script>