{{ define "main" }}

<main>
  <!-- banner -->
  <section class="banner bg-cover">
    <div class="container position-relative">
      <div class="row">
        <img
          src="{{ .Site.Params.banner.image | relURL }}"
          class="img-fluid illustration"
          alt="{{ .Site.Params.banner.title }}"
        />
        <div
          class="banner-text-container col-lg-6 mb-5 mb-lg-0 mt-5 mt-lg-0 px-0"
        >
          <h1 class="banner-title">
            {{ .Site.Params.banner.title | markdownify }}
          </h1>
          <h2 class="h4 banner-subtitle">
            {{ .Site.Params.banner.subTitle | markdownify }}
          </h2>

          <div
            class="illustration-mobile col-lg-6 text-center mx-auto w-75 mw-75 py-5"
          >
            <img
              src="{{ .Site.Params.banner.image | relURL }}"
              class="img-fluid"
              alt="{{ .Site.Params.banner.title }}"
            />
          </div>

          <div class="banner-cta mx-0 mx-sm-4 mt-3">
            <a
              href="https://www.linkedin.com/in/joshua-booth/"
              class="btn btn-outline-primary mr-3"
              alt="Joshua Booth Resume"
              target="_blank"
            >
              View Resume
            </a>
            <a href="/contact" class="btn btn-primary ml-3"> Contact Me </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /banner -->

  <!-- Skills -->
  <section class="text-center mx-auto pt-3 mt-4 px-3">
    <h2 class="mt-5">Hey <span class="wave">👋🏻</span> I'm Josh!</h2>

    <h3 class="h4 mt-5">Here's what I'm skilled in</h3>

    <div class="text-center mx-auto pt-0 px-3">
      <div class="card-deck mt-4">
        <div class="card border-0 mx-5 mb-5 py-4">
          <img
            class="card-img-top p-4"
            src="{{ `images/designer.svg` | relURL }}"
            alt="Web and App Design"
          />
          <div class="card-body">
            <h4 class="h5 card-title font-weight-bold">UI/UX Design</h4>
            <p class="card-text col-12 col-sm-8 col-md-12 mx-auto px-0">
              I create user interfaces and experiences for the web and mobile
              applications.
            </p>
          </div>
        </div>

        <div class="card border-0 mx-5 mb-5 py-4">
          <img
            class="card-img-top p-4"
            src="{{ `images/ui_design.svg` | relURL }}"
            alt="Front End Development"
          />
          <div class="card-body">
            <h4 class="h5 card-title font-weight-bold">Frontend Development</h4>
            <p class="card-text col-12 col-sm-8 col-md-12 mx-auto px-0">
              I develop web designs into fast, responsive websites and web applications.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Skills -->

  <hr />

  <!-- Portfolio -->
  <section class="container section">
    <h2 class="text-center mb-5">Portfolio</h2>

    {{ range .Site.Params.portfolio_highlight }}
    <div
      class="row align-items-center h-100 text-center text-lg-left pt-5 mb-5"
    >
      <div class="col-lg-6 p-lg-0">
        {{ if .website }}
        <a
          href="{{ .website }}"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="{{ .name }}"
        >
          {{ end }}
          <img class="img-fluid" src="{{ .image | relURL }}" alt="{{ .name }}" />
          {{ if .website }}
        </a>
        {{ end }}
      </div>
      <div class="col-lg-5 mx-auto py-3">
        <h3 class="h3">
          {{ .name }} {{ if .tag }}
          <span class="badge badge-pill badge-primary badge-sm align-middle">
            {{ .tag }}
          </span>
          {{ end }}
        </h3>
        <p class="mb-5 color-gray">{{ .description }}</p>

        {{ if .website }}
        <a
          href="{{ .website }}"
          class="btn btn-outline-primary mt-4 mr-2"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Visit {{ .name }}"
        >
          Visit site
        </a>
        {{ end }}
        
        {{ if .project }}
        <a
          href="{{ .project }}"
          class="btn btn-primary mt-4 ml-2 ml-lg-1"
          aria-label="Learn more about {{ .name }}"
        >
          Learn More
        </a>
        {{ end }}
      </div>
    </div>
    {{ end }}

    <div class="text-center mt-5 pt-5">
      <a href="/work" class="btn btn-outline-primary">See more</a>
    </div>
  </section>
  <!-- /Portfolio -->

  <!-- cta -->
  {{ if .Site.Params.cta.enable }}
  <hr />

  <section class="section pt-3 mt-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto pt-3">
          <div class="row bg-white p-5">
            <div class="col-md-4 text-center text-md-left mb-4 mb-lg-0">
              <img
                src="{{ .Site.Params.cta.image | relURL }}"
                class="mr-4"
                alt="{{ .Site.Params.cta.title }}"
              />
            </div>
            <div class="col-md-8 text-center text-md-left">
              <h3 class="mt-0">{{ .Site.Params.cta.title | markdownify }}</h3>
              <p>{{ .Site.Params.cta.description | markdownify }}</p>
              {{ if .Site.Params.cta.button.enable }}
              <a
                href="{{ .Site.Params.cta.button.link | absURL }}"
                class="btn btn-primary"
              >
                {{ .Site.Params.cta.button.label }}
              </a>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  <!-- /cta -->

  {{ partial "personData.html" }}
</main>

{{ end }}
